*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
}

.device {
    position: relative;
    background: url("../assets/iphone5s.png") no-repeat;
    background-size: 510px 883px;
    width: 510px;
    height: 883px;
            left: calc(50% - 255px);
        top: calc(50% - 441px);
}

.screen {
    position: absolute;
    /*background: url("../assets/background.png");*/
    background-color: white;
    background-size: 320px 568px;
    width: 320px;
    height: 568px;
    left: 89px;
    top: 118px;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(239, 247, 253) 0%, rgb(239, 247, 253) calc(100% - 92px), #000000 calc(100% - 92px), rgba(255, 255, 255, 0.8) calc(100% - 92px),rgba(255, 255, 255, 0.8) 100%);
}

.status-bar {
    position: relative;
    width: 100%;
    height: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #000;

    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.status-bar .network {
    position: absolute;
    left: 0;
}

.status-bar .network:before {
    content: '•••••';
    font-size: 20px;
    padding-left: 5px;
    padding-right: 4px;
    vertical-align: middle;
}

.status-bar .network:after {
    content:'';
    background: url("../assets/icons/wifi_black.png") no-repeat;
}

.status-bar .icons {
    position: absolute;
    right: 0;
    top: 0;
}

.status-bar img {
    margin: 0 4px;
    height: 10px;
    display: inline-block;
    vertical-align: baseline;
}

.springboard {
    width: 100%;
    height: calc(100% - 20px);
}

.springboard ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px calc((100% - 4*60px - 3*16px) / 2);
    overflow: hidden;
}

.springboard ul.shaking .dragging div {
    -webkit-animation: none;
    animation: none;
}
.springboard ul.shaking div {
    -webkit-animation: shake 0.25s 0s ease-in-out infinite;
    animation: shake 0.25s 0s ease-in-out infinite;
}
.springboard li {
    -webkit-transition: opacity, -webkit-transform 0.25s ease-in-out;
    transition: opacity, -webkit-transform 0.25s ease-in-out;
    transition: opacity, transform 0.25s ease-in-out;
    transition: opacity, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    cursor: pointer;
    list-style: none;
    position: absolute;
    text-align: center;
    font-size: 11px;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
}
.springboard li span {
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    top: 64px;
}

.springboard li div {
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.springboard li div:after {
    content: '';
    left: 0;
    top: 0;
    background: #000;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    opacity: 0;
}
.springboard li div.ios-app {
    background: #fff url("../assets/icons.jpg") no-repeat;
    background-size: 1440px 60px;
}

.springboard li div.appstore {
    background-position: 0px 0px;
}
.springboard li div.calculator {
    background-position: -60px 0px;
}
.springboard li div.calendar {
    background-position: -120px 0px;
}
.springboard li div.camera {
    background-position: -180px 0px;
}
.springboard li div.clock {
    background-position: -240px 0px;
}
.springboard li div.compass {
    background-position: -300px 0px;
}
.springboard li div.facetime {
    background-position: -360px 0px;
}
.springboard li div.itunesstore {
    background-position: -420px 0px;
}
.springboard li div.mail {
    background-position: -480px 0px;
}
.springboard li div.maps {
    background-position: -540px 0px;
}
.springboard li div.messages {
    background-position: -600px 0px;
}
.springboard li div.music {
    background-position: -660px 0px;
}
.springboard li div.passbook {
    background-position: -720px 0px;
}
.springboard li div.phone {
    background-position: -780px 0px;
}
.springboard li div.photos {
    background-position: -840px 0px;
}
.springboard li div.reminders {
    background-position: -900px 0px;
}
.springboard li div.safari {
    background-position: -960px 0px;
}
.springboard li div.settings {
    background-position: -1020px 0px;
}
.springboard li div.stocks {
    background-position: -1080px 0px;
}
.springboard li div.twitter {
    background-position: -1140px 0px;
}
.springboard li div.weather {
    background-position: -1200px 0px;
}
.springboard li div.newsstand {
    background-position: -1260px 0px;
}
.springboard li div.videos {
    background-position: -1320px 0px;
}
.springboard li div.notes {
    background-position: -1380px 0px;
}
.springboard li div.citizencam {
    background: #fff url("../assets/ctz-tv-icon.png") no-repeat;
}

.springboard li.placeholder {
    cursor: auto;
}
.springboard li.placeholder div {
    background: none;
}
.springboard li.placeholder span {
    display: none;
}
.springboard li.dragging {
    -webkit-transition: none;
    transition: none;
    opacity: 0.75;
}
.springboard li.dragging div {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}
.springboard li.dragging div:after {
    opacity: 0.75;
}

.info {
    width: 320px;
    font-family: Arial, sans-serif;
    position: absolute;
    z-index: 1000;
    left: -300px;
    top: 350px;
}
.info h4 {
    color: #fff;
    margin-bottom: 10px;
}
.info p {
    color: #fff;
    font-size: 14px;
}
@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotateZ(-2deg);
        transform: rotateZ(-2deg);
    }
    33.3% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    66.6% {
        -webkit-transform: rotateZ(2deg);
        transform: rotateZ(2deg);
    }
    100% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}
@keyframes shake {
    0% {
        -webkit-transform: rotateZ(-2deg);
        transform: rotateZ(-2deg);
    }
    33.3% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    66.6% {
        -webkit-transform: rotateZ(2deg);
        transform: rotateZ(2deg);
    }
    100% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}

iframe {
    position: absolute;
    left: 0;
    top: 20px;
    transform: scale(0) !important;
    height: calc(100% - 16px) !important;
    width: 100% !important;
    background-color: white;
    border: none;
    z-index: 999;
    -webkit-transition: transform 0.5s; 
    transition: transform 0.5s;
}

iframe.visible {
    transform: scale(1) !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.home-button {
    position: absolute;
    left: calc(50% - 38px);
    bottom: 108px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
}

.home-button.pressed {
    opacity: 1;
}